    /* CSS for about */
    
    .about {
        text-align: center;
    }
    
    .about_per1 .about_per2,
    .about_per3 .about_per4,
    .about_per5 {
        border-style: groove;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about_row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        /* Define five equal columns */
    }
    
    .about_per1 .about_per2,
    .about_per3 .about_per4,
    .about_per5 {
        border-style: groove;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about_image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }