/* Common */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* Header */
.header_wrapper {
    height: 10vh;
    padding: 0 25px 0 25px;
    background-color: #1f1f1f;
    color: #cccccc;
    display: flex;
    justify-content: space-between;
}

/* Footer */
.footer_wrapper {
    height: 20vh;
    background-color: #1f1f1f;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_wrapper div {
    width: 33vw;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.footer_wrapper div p {
    position: absolute;
    top: 0;
}

.footer_wrapper div h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.footer_wrapper> :nth-child(2) {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

/* Project, About, Login */
.project_wrapper,
.about_wrapper,
.login_wrapper {
    box-sizing: border-box;
    padding: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    color: #cccccc;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Remove appearance of scrollbar */
.app_wrapper::-webkit-scrollbar,
.project_wrapper::-webkit-scrollbar,
.about_wrapper::-webkit-scrollbar,
.login_wrapper::-webkit-scrollbar {
    display: none;
}

/* About page */
.about_group_members {
    display: flex;
    background-color: #1f1f1f;
}

.about_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.about_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about_person {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_person h4 {
    height: 30px;
    display: flex;
    align-items: center;
}

.about_person h5 {
    padding: 5px;
    border: 1px groove #cccccc;
    border-radius: 5px;
}

/* App */
.app_wrapper {
    box-sizing: border-box;
    padding: 20px;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 10vw;
    background-color: #181818;
    color: #cccccc;
    overflow-y: scroll;
    overflow-x: hidden;
}

.app_wrapper .app_category .item {
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.app_wrapper .app_category .item p {
    display: flex;
    justify-content: space-between;
    height: 10px;
}

.app_wrapper .app_category .item span {
    color: white;
}

.app_wrapper .app_category .item button {
    background-color: #1f1f1f;
    color: #cccccc;
    border: none;
    border-radius: 5px;
}