/* Common */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    margin: 0;
    font-family: 'Poppins';
}

/* Header */
.header-wrapper {
    height: 10vh;
    padding: 0 25px 0 25px;
    background-color: #1f1f1f;
    color: #cccccc;
    display: flex;
    justify-content: space-between;
}

/* Footer */
.footer-wrapper {
    height: 20vh;
    background-color: #1f1f1f;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* App, Project, About, Login */
.app_wrapper,
.project_wrapper,
.about_wrapper,
.login_wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    color: #cccccc;
}

/* About page */
.about_group_members {
    display: flex;
    background-color: #1f1f1f;
}

.about_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.about_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about_per1,
.about_per2,
.about_per3,
.about_per4,
.about_per5 {
    width: 300px;
    border: 0px groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}